#Assignments: Data types and Structures

1. What are data structures, and why are they important?
Data structures are ways to organize and store data efficiently for easy access and modification. They are important because they optimize operations like searching, sorting, and modifying data. Common data structures include arrays, lists, stacks, queues, dictionaries, and trees.

2. Explain the difference between mutable and immutable data types with examples.
Mutable data types can be changed after creation.
Immutable data types cannot be changed after creation.

3. What are the main differences between lists and tuples in Python?
Feature	    List	                      Tuple
Mutability	Mutable	                    Immutable
Performance	Slower	                    Faster (due to immutability)
Syntax	    [] (square brackets)	      () (parentheses)
Use Case	When data needs modification	When data should remain constant

4. Describe how dictionaries store data.
Dictionaries store data in key-value pairs using a hash table. Each key maps to a specific value, allowing for fast lookups.

5. Why might you use a set instead of a list in Python?
Sets do not allow duplicate values.
Faster membership checking (in operator) than lists.
Unordered (not indexed).

6. What is a string in Python, and how is it different from a list?
String: A sequence of characters, immutable.
List: A collection of elements, mutable.

7. How do tuples ensure data integrity in Python?
Tuples cannot be modified after creation, preventing accidental changes.
Used in hashable data structures like dictionary keys.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores data using key-value pairs where keys are hashed to determine their storage location.
Python dictionaries use hash tables for fast lookups.

9. Can lists contain different data types in Python?
Yes, Python lists can contain multiple data types.

10. Explain why strings are immutable in Python.
Strings are immutable to optimize memory usage and ensure security in operations like hashing.

11. What advantages do dictionaries offer over lists for certain tasks?
Fast lookups (O(1)) vs. list search (O(n)).
Key-value mapping for structured data.

12. Describe a scenario where using a tuple would be preferable over a list.
When data should not change (e.g., coordinates, database keys).
Tuple as a dictionary key (lists cannot be dictionary keys).

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?
List: Checks if an item exists (O(n)).
Dictionary: Checks for keys, not values (O(1)).

15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
A dictionary inside another dictionary.
Used for storing hierarchical data.

17. Describe the time complexity of accessing elements in a dictionary.
Average case: O(1) (constant time).
Worst case: O(n) (if hash collisions occur).

18. In what situations are lists preferred over dictionaries?
When order matters.
When data needs frequent modification.
Example: Maintaining a queue of tasks.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Prior to Python 3.7, dictionaries did not maintain insertion order.
From Python 3.7+, dictionaries preserve order, but retrieval is based on keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists retrieve items by index (O(1)).
Dictionaries retrieve values by key (O(1)).

# Practical questions
1. Write a code to create a string with your name and print it

In [4]:
a='sindhupriya'
b=input("Enter the string: ")
print(b+" " +a)

Enter the string: sindhupriya
sindhupriya sindhupriya

2. Write a code to find the length of the string "Hello World"

In [8]:
a= len("Hello World")
print(a)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [10]:
a = "Python Programming"
print(a[:3])

Pyt

4.Write a code to convert the string "hello" to uppercase

In [14]:
b="hello"
c=b.upper()
print(c)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [17]:
string="I like apple"
d=string.replace("apple","orange")
print(d)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [18]:
listc =[1,2,3,4,5]
print(listc)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [19]:
listv =[1,2,3,4]
listv.append(10)
print(listv)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [22]:
o=[1,2,3,4,5]
o.remove(3)
print(o)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [23]:
p=['a','b','c','d']
print(p[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [25]:
rev=[10,20,30,40,50]
print(rev[::-1])

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [3]:
np=(100,200,300)
print(np)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [5]:
pn=('red','green','blue','yellow')
print(pn[1])

green

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [6]:
pl=(12,20,5,15)
print(min(pl))

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [7]:
lp=('dog','cat','rabbit')
print(lp.index('cat'))

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [9]:
po=('apple','kiwi','orange')
for i in po:
  if i=='kiwi':
    print("Yes, Kiwi is there")

Yes, Kiwi is there

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [12]:
setf={'a','b','c'}
print(setf)

{'a', 'b', 'c'}

set

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [13]:
sete={1,2,3,4,5}
sete.clear()
print(sete)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [14]:
ol={1,2,3,4}
ol.remove(4)
print(ol)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [15]:
set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [16]:
set4=set1.intersection(set2)
print(set4)

{3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [17]:
dictk={'name:Sindhu','age:20','city:bangalore'}
print(dictk)

{'city:bangalore', 'age:20', 'name:Sindhu'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [18]:
dictionary={'name':'John','age':25}
dictionary['country']='USA'
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [19]:
rp={'name':'Alice',"age":30}
print(rp['name'])

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [20]:
lo={'name':'Bob','age':22,'city':'New York'}
lo.pop('age')
print(lo)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [21]:
op={'name':"Alice","city":"Paris"}
if 'city' in op:
  print("Yes, city exists")

Yes, city exists

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [25]:
cv=[1,2,3,4,5]
print(f"list is {cv}")
bv=('ab','bc','cd')
print(f"tuple is {bv}")
nk={'name':"Alice",'age':56}
print(f"dictionary is {nk}")

list is [1, 2, 3, 4, 5]
tuple is ('ab', 'bc', 'cd')
dictionary is {'name': 'Alice', 'age': 56}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [26]:
lo=[45,34,32,12,90]
print(sorted(lo))

[12, 32, 34, 45, 90]

28.Write a code to create a list with strings and print the element at the third index.

In [27]:
ko=['ai','bi','ko','ji','ty']
print(ko[3])

ji

29.Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1 | dict2
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to convert a list of strings into a set.

In [30]:
lo=['sindhu','priya','alice','john']
print(set(lo))

{'priya', 'sindhu', 'john', 'alice'}